{{block "infographic" .}}
<!-- <div id="infographic" class="row justify-content-center" style="background-color: #a8a8a8;"> -->
<div id="infographic" class="">
    <div id="infographic-container">
        <!-- <div class="col-6 d-flex justify-content-end"> -->
        <img id="infographic-logo" src="/assets/img/JCTFV/Logo_512x512.png" width="300rem" alt="JerseyCTF Landing Page" height="250">
        <!-- <div class="col-3 col align-self-center"> -->
        <h5 id="title-info">The competition is being prepared. Get ready for JerseyCTF V! Overview: 
            <ul>
                <li>Sat, 3/29, 10:30 AM : Doors open</li>
                <li>Sat, 3/29, 3 PM : Competition begins</li>
                <li>Sun, 3/30, 3 PM : Competition ends</li>
            </ul>
            Check out the schedule below for more info.
        </h5>
    </div>
    <div id="pow-by">
        <h5>Powered By:</h5>
        <a id="njccic-link" target="_blank" href="https://www.cyber.nj.gov/">
            <img src="/assets/img/sponsor/NJCCIC_logo.png" alt="NJCCIC" height="150" width="150">
        </a>
    </div>
</div>
{{end}}