{{block "speakers" .}}
<div id="Speakers">
    <h4 class="section-header">Speakers</h4>
    <div class="section-container">
        <div id="speaker-container">
            {{if true}}
            {{range .}}
            <div class="speaker-card">
                <img src="/assets/img/speaker/{{.Pic}}" alt="{{.Name}}">
                <div>
                    <h5>{{.Name}}</h5>
                    <h6>{{.Time}}</h6>
                    <p>{{.Position}}</p>
                    {{if .Talk}}
                    <p><b>Speaker Topic:</b> <i>{{.Talk}}</i></p>
                    {{end}}
                </div>
            </div>
            {{end}}
            {{else}}
            <div>
                <h5 style="font-weight: bold; text-align: center;">Speaker Information Coming Soon</h5>
            </div>
            {{end}}
        </div>
    </div>
</div>
{{end}}