{{block "sponsors" .}}
<div id="Sponsors">
    <h4 class="section-header">Sponsors</h4>
    <div class="section-container">
        <div id="sponsor-join">
            <h3>Support our students by joining the JerseyCTF family as a sponsor!</h3>
            <button>
                <a href="/assets/img/sponsor/JerseyCTF_V_Sponsorship_Packet.pdf"
                        style="color: inherit; text-decoration: inherit;" download> Download our sponsorship flyer</a>
            </button>
        </div>

        <!--true:Show sponsors; false:Hide sponsors-->
        {{if true}}
        <div id="sponsor-container">
            {{range .AllTiers}}
            {{if .Spons}}
            <!-- <div class="row justify-content-evenly"> -->
            <div class="sponsor-category-container {{.CSSName}}">
                <h5>{{.TierName}}</h5>
                <div>
                    {{range .Spons}}
                    <a target="_blank" href="{{.HREF}}">
                        <img class="img-fluid" src="/assets/img/sponsor/{{.Source}}" alt="{{.ALT}}" width="{{.Width}}">
                    </a>
                    {{end}}
                </div>
            </div>
            {{end}}
            {{end}}
        </div>
        {{end}}
    </div>
</div>
{{end}}