html {
    overflow-x: hidden;
}

.section-container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
}

.section-header {
    width: 100%;
    padding: 1rem;
    background-color: #545557;
    color: white;
    text-align: center;
}

a {
    color: #c91d05;
}

/* ----------- Nav ------------- */

.navbar {
    padding: 0;
}

#navbar-brand {
    transform: rotate(10deg) translateY(-2px);
    height: 50px;
}

/* ----------- Infographic ------------- */

#infographic {
    background-color: #2C2C33;
    display: grid;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    min-height: calc(100vh - 50px);
}

#infographic-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
}

#infographic-logo {
    order: 1;
    height: 100%;
    max-height: 200px;
    max-width: min(80%, 200px);
    align-self: center;
}

#title-info {
    order: 2;
    font-size: 20pt;
    color: white;
    margin: auto;
    align-self: center;
}

#pow-by {
    width: min-content;
    height: min-content;
    margin: 0 auto;
}

#pow-by h5 {
    color: white;
    text-align: center;
}

#flyer {
    width: 100vh;
    max-width: 100%;
    display: block;
    margin: 2rem auto;
}

/* ----------- Registration ------------- */

.registText {
    margin: 10px 0px 20px 0px;
    text-align: center;
}

/* ----------- Schedule ------------- */
#schedule-img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

/* ----------- Speakers ------------- */

#speaker-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* align-items: stretch; */
    justify-content: center;
}
.speaker-card {
    max-width: 250px;
    height: auto;
    border: lightgray solid 1px;
    padding: 1rem;
    display: grid;
    gap: 1rem;
}

.speaker-card img {
    width: 100%;
    /* just take the min height image dimensions */
    aspect-ratio: 216 / 270;
    object-fit: cover;
}

.speaker-card h5 {
    font-weight: bold;
}

.speaker-card p {
    margin: 0;
}

/* ----------- Sponsors ------------- */
#Sponsors .section-container {
    display: grid;
    gap: 1rem;
}

#sponsor-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

#sponsor-join {
    text-align: center;
    margin: 0 auto;
}

#sponsor-join button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #c91d05;
    font-weight: bold;
    color: white;
    transition: box-shadow linear 0.1s;
}

#sponsor-join button:hover {
    box-shadow: lightgray 0 0 10px 5px;
}

.sponsor-category-container {
    border: lightgray solid 1px;
    display: flex;
    flex-direction: column;
}

.sponsor-category-container > h5 {
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin: 0;
    padding: 1rem;
}

.sponsor-category-container > div {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.sponsor-title > h5 {
    background-color: #b9f2ff;
}

.sponsor-ciso > h5 {
    background-color: #f5de33;
}

.sponsor-manager > h5 {
    background-color: #b9c1c9;
}

.sponsor-analyst > h5 {
    background-color: #d994f5;
}

.sponsor-network > h5 {
    background-color: #c7e7bb;
}

/* ----------- FAQ ------------- */
.faq-question {
    color: #c91d05;
}

/* ----------- Resources ------------- */

table {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border: lightgray solid 1px;
    text-align: center;
}

th {
    background-color: #c91d05;
    color: white;
}

td {
    background-color: ghostwhite;
    border: lightgray solid 1px;
}

#rsrc-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 2rem;
}

/* ----------- Footer ------------- */
.foots {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    background-color: #545557;
    color: #ffffff;
    text-align: center;
}

#ccpp-link {
    color: white;
}

.foots-img {
    padding: 8px 15px 5px 15px;
    height: 70px;
}

.sched {
    justify-content: center;
    margin-bottom: 10px;
}

li {
    margin: .5% 0 .5% 5%;
}

.resourceImg {
    height: 75px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

[id='Code of Conduct']>p,
[id='Privacy Policy']>p {
    padding: .5% 4% .5% 4%;
}

[id='Code of Conduct']>h3,
[id='Privacy Policy']>h3 {
    font-weight: bold;
}